<div class="container-fluid color-dark">
    <div class="row row-fixed">
        <div class="col-md-4">
            <h3>What We Offer</h3>
            <div class="container-fluid description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi facilis animi voluptatibus dignissimos ducimus voluptates nostrum aspernatur hic totam! Repellat aut expedita est repudiandae rerum delectus quo dolor libero animi!
            </div>
            <button class="btn btn-default btn-xs" type="submit">Read More</button>
        </div>
        <div class="col-md-4">
            <h3>Who We Are</h3>
            <div class="container-fluid description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi facilis animi voluptatibus dignissimos ducimus voluptates nostrum aspernatur hic totam! Repellat aut expedita est repudiandae rerum delectus quo dolor libero animi!
            </div>
            <button class="btn btn-default btn-xs" type="submit">Read More</button>
        </div>
        <div class="col-md-4">
            <h3>Our mission</h3>
            <div class="container-fluid description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi facilis animi voluptatibus dignissimos ducimus voluptates nostrum aspernatur hic totam! Repellat aut expedita est repudiandae rerum delectus quo dolor libero animi!
            </div>
            <button class="btn btn-default btn-xs" type="submit">Read More</button>
        </div>
    </div>
    <div class="container-fluid color-dark">
        <div class="row row-fixed">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#/">Home</a></li>
                <li role="presentation"><a href="#">Themes</a></li>
                <li role="presentation"><a href="#">Features</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#/posts">Blog</a></li>
                <li role="presentation"><a href="#">Support</a></li>
                <li role="presentation"><a href="#">Affiliates</a></li>
                <li role="presentation"><a href="#">Login</a></li>
                <li role="presentation"><a href="#">Join Today</a></li>
                <li role="presentation"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </div>
</div>
