<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class = "row row-fixed">
    {{!-- 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div> --}}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse center-block" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav nav-full">
        <li class="active"><a href="#/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#/themes">Themes</a></li>
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Features</a>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Link1</a></li>
      <li><a href="#">Link2</a></li>
      <li><a href="#">Link3</a></li>
    </ul></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/posts">Blog</a></li>
        <li><a href="#/support">Support</a></li>
        <li><a href="#/affiliates">Affiliates</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/join">Join Today</a></li>
        <li><a href="#/quote">Get a Quote</a></li>
        <li><a href="#/location">Location</a></li>
        <li><a href="#/support">Support Forum</a></li>
        <li class="pull-right" ><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li class="pull-right" ><a href="http://www.github.com/mstratiev"><i class="fa fa-github-square"></i></a></li>
        <li class="pull-right" ><a href="http://www.deamons.herokuapp.com"><i class="fa fa-rss-square"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

    </div>
  </div><!-- /.container-fluid -->
</nav>